<p>comment works!</p>
<mat-dialog-content>
    <h2>
        {{data.title}}
    </h2>
    <br>
    <div class="form-body" style="margin-left: 50px;">
        <form autocomplete="off" [formGroup]="createCommentsForm" (ngSubmit)="onCreateComment(createCommentsForm.value)">
            <div>
                <label>Post Event ID: </label>
                <input type="text" formControlName="commentPostId" autocomplete="off" />
            </div>
            <div>
                <label>Post Name: </label>
                <input type="text" formControlName="content" autocomplete="off" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button>Cancle</button>
    <button mat-raised-button (click)="onClose()">Close</button>
</mat-dialog-actions>