<h2>MY ACTIVITIES: </h2>
<br>
<div>
    <button (click)="createActivity()">Create Activity</button>
</div>
<br>
<div class="content-area">
    <table mat-table [dataSource]="listActivityData" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="NAME">
            <th mat-header-cell *matHeaderCellDef> NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="EVENTTITLE">
            <th mat-header-cell *matHeaderCellDef> EVENT TITLE </th>
            <td mat-cell *matCellDef="let element"> {{element.eventTitle}} </td>
        </ng-container>

        <!-- Completed Column -->
        <ng-container matColumnDef="COMPLETED">
            <th mat-header-cell *matHeaderCellDef> COMPLETED </th>
            <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
        </ng-container>

        <!-- Reported Column -->
        <ng-container matColumnDef="REPORTED">
            <th mat-header-cell *matHeaderCellDef> REPORTED </th>
            <td mat-cell *matCellDef="let element"> {{element.reported}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="ACTIONS">
            <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
            <td mat-cell *matCellDef="let element">
                <button>Action</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>