<div class="form-body">
    <form autocomplete="off" [formGroup]="createEventForm" (ngSubmit)="onCreateEvent(createEventForm.value)">
        <!-- <div>
            <label>id: </label>
            <input type="text" formControlName="id" autocomplete="off" />
        </div> -->
        <div>
            <label>Event Name: </label>
            <input type="text" formControlName="eventtitle" autocomplete="off" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<br>
<div>
    <button (click)="openPost()">Open Post Window</button>
</div>
<br>
<div class="content-area" *ngFor="let event of events">
    <br>
    <div>{{ event.id }}</div>
    <div>{{ event.eventtitle }}</div>
    <br>
    <!-- <div class="form-body" style="margin-left: 50px;">
        <form autocomplete="off" [formGroup]="createPostForm" (ngSubmit)="onCreatePost(createPostForm.value)">
            <div>
                <label>Event ID: </label>
                <input type="text" formControlName="postEventId" autocomplete="off" />
            </div>
            <div>
                <label>Post Name: </label>
                <input type="text" formControlName="title" autocomplete="off" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div> -->
</div>