<amplify-authenticator>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <div>
            <h1>Welcome {{ user.username }}!</h1>
            <br>
            <button (click)="signOut()">Sign Out</button>
        </div>

        <amplify-s3-image-picker level="public"></amplify-s3-image-picker>

        <br>
        <div class="form-body">
            <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
                <div>
                    <label>id: </label>
                    <input type="text" formControlName="id" autocomplete="off" />
                </div>
                <div>
                    <label>Username: </label>
                    <input type="text" formControlName="username" autocomplete="off" />
                </div>
                <div>
                    <label>Firstname: </label>
                    <input type="text" formControlName="firstname" autocomplete="off" />
                </div>
                <div>
                    <label>Secondname: </label>
                    <input type="text" formControlName="secondname" autocomplete="off" />
                </div>
                <div>
                    <label>Email: </label>
                    <input type="text" formControlName="email" autocomplete="off" />
                </div>
                <div>
                    <label>Image URL: </label>
                    <input type="text" formControlName="imageurl" autocomplete="off" />
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

        <br>
        <div *ngFor="let user of users">
            <br>
            <div>{{ user.username }}</div>
            <div>{{ user.email }}</div>
            <div>{{ user.firstname }}</div>
            <div>{{ user.secondname }}</div>
            <div>{{ user.imageurl }}</div>
            <br>
        </div>
    </ng-template>
</amplify-authenticator>