/* You can add global styles to this file, and also import other style files */

@import '~@aws-amplify/ui-angular/theme.css';
* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    margin: auto;
}

html {
    background: #ffffff;
}

div.container {
    margin: 0px, 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.btn-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
}

.example-half-width {
    width: 90%;
    padding-left: 25px;
}

.expansion-half-width {
    width: 90%;
    margin-left: 25px;
}

.button-row {
    margin: 15px;
    align-items: flex-end;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}


/*filter controls*/

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 100%;
    /* margin: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}